<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<!-- 日志存放的路径  -->
	<property name="LOG_HOME" value="/data/logs" />
	<!--APP名-->
	<property name="APP_NAME" value="gould-api" />
	<!-- 默认日志 -->
	<appender name="DEFAULT-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      		<fileNamePattern>${LOG_HOME}/${APP_NAME}/default/common-default.log.%d{yyyyMMdd}</fileNamePattern>
    	</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d [%t] %-5p %c{2} [%X{CLIENT}] [%X{A}/%X{B}/%X{C}/] - [%m]%n</pattern>
		</encoder>
    </appender>
    
	<!-- 错误日志 -->
	<appender name="ERROR-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
    		<level>ERROR</level>
    	</filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      		<fileNamePattern>${LOG_HOME}/${APP_NAME}/error/common-error.log.%d{yyyyMMdd}</fileNamePattern>
    	</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d [%t] %-5p %c{2} [%X{CLIENT}] [%X{A}/%X{B}/%X{C}/] - [%m]%n</pattern>
		</encoder>
    </appender>

	<!-- 数据访问层日志 -->
	<appender name="DAO-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<file>${loggingRoot}/dao/common-dao.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${LOG_HOME}/${APP_NAME}/dao/common-dao.log.%i</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex>
		</rollingPolicy>>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>10MB</maxFileSize>
		</triggeringPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d [%t] %-5p %c{2} [%X{CLIENT}] [%X{A}/%X{B}/%X{C}/] - [%m]%n</pattern>
		</encoder>
	</appender>

    <!-- 业务日志 -->
	<appender name="COMMON-BUSINESS-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      		<fileNamePattern>${LOG_HOME}/${APP_NAME}/business/common-business.log.%d{yyyyMMdd}</fileNamePattern>
    	</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d [%t] %-5p %c{2} [%X{CLIENT}] [%X{A}/%X{B}/%X{C}/] - [%m]%n</pattern>
		</encoder>
    </appender>
    <!-- 报警日志 预留 -->
    <appender name="COMMON-ALARM-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      		<fileNamePattern>${LOG_HOME}/${APP_NAME}/alarm/common-alarm.log.%d{yyyyMMdd}</fileNamePattern>
    	</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d [%t] %-5p %c{2} [%X{CLIENT}] [%X{A}/%X{B}/%X{C}/] - [%m]%n</pattern>
		</encoder>
    </appender>                                                                                                                                                                                                                                                                                                                
    <!-- 接口出入日志 -->
    <appender name="COMMON-SERVICE-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      		<fileNamePattern>${LOG_HOME}/${APP_NAME}/service/common-service.log.%d{yyyyMMdd}</fileNamePattern>
    	</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d [%t] %-5p %c{2} [%X{CLIENT}] [%X{A}/%X{B}/%X{C}/] - [%m]%n</pattern>
		</encoder>
    </appender>


	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>


	<!-- 空洞日志 -->
	<appender name="NULL-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/${APP_NAME}/null/common-null.log.%d{yyyyMMdd}</fileNamePattern>
			<maxHistory>5</maxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d [%t] %-5p %c{2} [%X{CLIENT}] [%X{A}/%X{B}/%X{C}/] - [%m]%n</pattern>
		</encoder>
	</appender>
                                                                                                                                                                                                                                                                                             
	<!-- ===================================================================== -->
	<!-- Loggers                                                               -->
	<!-- ===================================================================== -->

	<logger name="dao" additivity="false">
		<level>DEBUG</level>
		<appender-ref ref="DAO-APPENDER"/>
		<appender-ref ref="ERROR-APPENDER"/>
		<!--<appender-ref ref="STDOUT"/>-->
	</logger>

    <logger name="COMMON.BUSINESS" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="COMMON-BUSINESS-APPENDER"/>
	</logger>
	<logger name="COMMON.ALARM" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="COMMON-ALARM-APPENDER"/>
	</logger>
	<logger name="COMMON.SERVICE" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="COMMON-SERVICE-APPENDER"/>
	</logger>
	
	<!-- <logger name="org.apache.commons.httpclient" level="ERROR" /> -->

	<!-- ===================================================================== -->
	<!-- Root logger                                                           -->
	<!-- ===================================================================== -->
	
	<root level="info">
	    <appender-ref ref="DEFAULT-APPENDER"/>
		<appender-ref ref="ERROR-APPENDER"/>
		<appender-ref ref="STDOUT"/>
	</root>
 </configuration>